<div class="nav-group">
  <div class="nav-eyebrow">Workspace</div>
  <nav>
    {% include "components/sidebar/nav-workspace/dashboard-link/dashboard-link.route.html" %}
    {% include "components/sidebar/nav-workspace/resume-creation-link/resume-creation-link.route.html" %}
    {% include "components/sidebar/nav-workspace/analysis-link/analysis-link.route.html" %}
    {% include "components/sidebar/nav-workspace/assistant-link/assistant-link.route.html" %}
    {% include "components/sidebar/nav-workspace/reports-link/reports-link.route.html" %}
  </nav>
</div>
