<form method="POST" class="login-form" data-login>
    <input type="hidden" name="next" value="{{ next or '' }}">

    <div class="login-form__group">
        <label for="email" class="login-form__label">Email Address</label>
        <input 
            type="email" 
            id="email" 
            name="email" 
            class="login-form__input" 
            placeholder="you@example.com"
            required
        >
    </div>

    <div class="login-form__group">
        <label for="password" class="login-form__label">Password</label>
        <input 
            type="password" 
            id="password" 
            name="password" 
            class="login-form__input" 
            placeholder="Enter your password"
            required
        >
    </div>

    <div class="login-form__remember">
        <input 
            type="checkbox" 
            id="remember_me" 
            name="remember_me" 
            class="login-form__checkbox"
        >
        <label for="remember_me" class="login-form__remember-label">Remember me</label>
    </div>

    <button type="submit" class="login-form__submit">Sign In</button>

    <div class="login-form__footer">
        <p class="login-form__text">
            Don't have an account? 
            <a href="{{ url_for('auth.register', next=next) }}" class="login-form__link">Sign up here</a>
        </p>
        <a href="#" class="login-form__forgot-link">Forgot password?</a>
    </div>
</form>
