.dashboard-header h2{
    font-size:38px;
    font-weight:700;
    color:#FFFFFF;
    margin-bottom:15px;
    text-shadow:0 2px 10px rgba(0,0,0,.15);
}

.dashboard-header p{
    color:#F8FAFC;
    font-size:17px;
    line-height:1.8;
    margin-bottom:25px;
}
