<div class="hero-left">
	{% include "components/pages/index/hero_section/badge/badge.html" %}
	{% include "components/pages/index/hero_section/heading/heading.html" %}
	{% include "components/pages/index/hero_section/description/description.html" %}
	{% include "components/pages/index/hero_section/feature_list/feature_list.html" %}
	{% include "components/pages/index/hero_section/action_buttons/action_buttons.html" %}
	{% include "components/pages/index/hero_section/trust_indicators/trust_indicators.html" %}
</div>