<section id="hero-section" class="hero-section">

    <div class="container">

        <div class="row align-items-center">

            <!-- Left Side -->
            <div class="col-lg-6">
                {% include "components/pages/index/hero_section/hero_left.html" %}
            </div>

            <!-- Right Side -->
            <div class="col-lg-6">
                {% include "components/pages/index/hero_section/hero_right.html" %}
            </div>

        </div>

    </div>

</section>